<h2>Dashboard</h2>

<p>
    <a ng-click="goToPage('allusers')">All Users</a>

    <button class="btn btn-success" ng-click="showToast()">
        Show Toast
    </button>
</p>

<p>
    <button class="btn btn-warning" ng-click="showAlert()">
        Show Alert
    </button>
</p>

<p>
    <button class="btn btn-primary" ng-click="showLoading()">
        Show Loading
    </button>
</p>

<p>
    <button class="btn btn-danger" ng-click="showError()">
        Show Error
    </button>
</p>

<p>&nbsp;</p>

<p>
    <button class="btn btn-info" ng-click="showCustomDialog()">
        Edit Data
    </button>
</p>